@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@layer base {
  html {
    background-color: 1A1B1D;
    font-family: "Inter", sans-serif;
    scroll-behavior:smooth;
  }
}
.episode-gredient {
  background: linear-gradient(
    31deg,
    rgba(3, 2, 17, 1) 0%,
    rgba(248, 120, 0, 0.7541141456582633) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
